################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotnet
/src/dotnet/libraries/BinaryStudio.Modeling.UnifiedModelingLanguage/bin
/src/dotnet/libraries/BinaryStudio.Modeling.UnifiedModelingLanguage/obj
/src/dotnet/libraries/BinaryStudio.Modeling.MetadataInterchange/bin
/src/dotnet/libraries/BinaryStudio.Modeling.MetadataInterchange/obj
/src/dotnet/pre/bin
/src/dotnet/pre/obj
/docs/.vs
/src/dotnet/xmi/bin
/src/dotnet/xmi/obj
/docs/org.eclipse.datatools.modelbase.sql.source_1.0.5.v201110151330.jar
/docs/org.eclipse.datatools.modelbase.sql_1.0.900.v20100224_1801.jar
/src/dotnet/libraries/BinaryStudio.Modeling.Petal/bin
/src/dotnet/libraries/BinaryStudio.Modeling.Petal/obj
/src/dotnet/libraries/BinaryStudio.Modeling.UnifiedModelingLanguage.Infrastructure/bin/Debug/net45
/src/dotnet/libraries/BinaryStudio.Modeling.UnifiedModelingLanguage.Infrastructure/obj
/src/dotnet/libraries/BinaryStudio.DirectoryServices/bin/Debug
/src/dotnet/libraries/BinaryStudio.DirectoryServices/obj
/src/dotnet/mdl/bin/Debug/net452
/src/dotnet/mdl/obj
*.md~
